In [1]:
import os
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.tree import export_graphviz
from IPython.display import Image  


# load dataset
pima = pd.read_csv("zoo.csv")
col_names = pima.columns
pima.head()

feature_cols = ['feathers', 'eggs', 'milk','legs','tail','fins','backbone','toothed']
X = pima[feature_cols] # Features
y = pima ['class_type']# Target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)
#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [2]:
X_test

     feathers  eggs  milk  legs  tail  fins  backbone  toothed
94          0     0     1     4     1     0         1        1
78          1     1     0     2     1     0         1        0
17          0     0     1     4     1     0         1        1
100         1     1     0     2     1     0         1        0
36          0     0     1     4     1     0         1        1
85          0     1     0     5     0     0         0        0
55          0     0     1     4     1     0         1        1
83          1     1     0     2     1     0         1        0
82          0     1     0     0     1     1         1        1
52          0     1     0     4     1     0         1        1
95          1     1     0     2     1     0         1        0
44          0     0     1     4     1     0         1        1
31          0     0     1     4     1     0         1        1
93          0     0     1     2     1     0         1        1
65          0     0     1     4     1     0         1        1
35          0     0     1     4     1     0         1        1
66          0     0     1     0     1     1         1        1
70          0     0     1     4     1     0         1        1
81          0     1     0     0     0     0         0        0
80          0     1     0     0     1     0         1        1
33          1     1     0     2     1     0         1        0
32          0     0     1     2     0     0         1        1
40          0     1     0     6     0     0         0        0
39          0     1     0     6     0     0         0        0
38          0     1     0     0     1     1         1        1
46          0     1     0     6     0     0         0        0
42          0     1     0     6     0     0         0        0
10          0     0     1     4     1     0         1        1
2           0     1     0     0     1     1         1        1
54          0     0     1     4     1     0         1        1
67          0     0     1     4     1     0         1        1

In [3]:
y_pred

array([1, 2, 1, 2, 1, 7, 1, 2, 4, 3, 2, 1, 1, 1, 1, 1, 1, 1, 7, 3, 2, 1,
       6, 6, 4, 6, 6, 1, 4, 1, 1], dtype=int64)

In [4]:
# load dataset
pima = pd.read_csv("Education.csv")
col_names = pima.columns
pima.head()

feature_cols = ['traveltime', 'studytime','goout','freetime','age','Dalc','famrel','absences','G1','G2','G3']
X = pima[feature_cols] # Features
y = pima ['failures']# Target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)
#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [5]:
X_test

,traveltime,studytime,goout,freetime,age,Dalc,famrel,absences,G1,G2,G3
440,2,2,5,4,16,4,5,0,7,0,0
242,4,2,2,3,18,4,4,2,9,10,11
465,1,2,4,4,18,2,3,9,9,8,8
347,2,3,4,3,17,1,5,0,7,7,8
474,3,1,4,2,15,3,4,2,10,11,11
...,...,...,...,...,...,...,...,...,...,...,...
479,1,1,3,5,17,1,4,4,9,9,10
329,1,2,5,4,17,1,5,12,12,12,14
187,1,2,5,3,16,1,4,0,14,13,13
245,2,2,2,5,17,1,4,0,12,13,13
146,1,2,4,4,16,1,4,0,10,10,10

In [6]:
y_pred

array([2, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 3, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

# Task 3

In [9]:
import os
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.tree import export_graphviz 
from IPython.display import Image  
from sklearn import preprocessing

In [11]:
col_names = ['outlook', 'temp', 'hum', 'wind', 'playtennis']
# load dataset
pima = pd.read_csv("weather.csv", header=None, names=col_names)
pima.head(10)

pima['playtennis'],class_names = pd.factorize(pima['playtennis'])
pima['outlook'],_ = pd.factorize(pima['outlook'] )
pima['temp'],_ = pd.factorize(pima['temp'] )
pima['hum'],_ = pd.factorize(pima['hum'] )
pima['wind'],_ = pd.factorize(pima['wind'] )
pima['playtennis'],_ = pd.factorize(pima['playtennis'] )
pima.info()
X = pima.iloc[:,:-1]
y = pima.iloc[:,-1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0) # 70% training and 30% test
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)
#Predict the response for test dataset
y_pred = clf.predict(X_test)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   outlook     15 non-null     int64
 1   temp        15 non-null     int64
 2   hum         15 non-null     int64
 3   wind        15 non-null     int64
 4   playtennis  15 non-null     int64
dtypes: int64(5)
memory usage: 728.0 bytes

In [12]:
X_test

    outlook  temp  hum  wind
1         1     1    1     1
6         3     3    2     2
8         1     2    1     1
9         1     3    2     1
14        3     2    1     2

In [13]:
y_pred

array([1, 2, 1, 2, 2], dtype=int64)